@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-success: #16A34A;
  --color-warning: #F5C242;
  --color-error: #D64545;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Animations */
  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-fade-out: fade-out 0.5s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;
  --animate-fade-in-down: fade-in-down 0.5s ease-out forwards;
  /* Leadings */
  --leading-title: 1.1;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes typewriter {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes blink {

    0%,
    50% {
      border-color: transparent;
    }

    51%,
    100% {
      border-color: #fff;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes equalizer {

  0%,
  100% {
    height: 4px;
  }

  50% {
    height: 16px;
  }
}

@keyframes wave {

  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.5);
  }
}

@keyframes soundWave {

  0%,
  100% {
    height: 8px;
  }

  50% {
    height: 48px;
  }
}